:root {
  --color-1: #8f57fd;
  --color-2: #ffffff;
  --color-3: #21c08b;
  --header-color: var(--color-1);
  --footer-color: var(--color-1);

  --font-family: "Muli", sans-serif;
  --media-mobile: 576px;
}
